body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://fastcdn.mobalytics.gg/assets/common/images/bg/champions.jpg');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgb(26,17,60);
}
h1 {
    margin: 0;
    font-weight: 900;
}
.modal-open {
    overflow: auto;
}
.container{
    max-width: 1500px;
}
.role{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 22px;
    
}
.card{
    height: 280px;
    background-color: rgba(96, 89, 128, 0.3);
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.02);
    background-color: rgba(96, 89, 128, 0.671);
}
.card-img-top {
    width: 85px;
    position: relative;
    left: 35%;
    border: 4px solid rgba(139, 53, 38, 0.726);
}
.card-body {
    padding: 12px;
}
.card-title {
    font-weight: 700;
    color: rgb(218, 91, 69);
    font-size: 21px;
}
.card-subtitle {
    color:#a7a4c2;
    font-size: 14px;
}
.card-text {
    padding-top: 8px;
    font-size: 16px;
    line-height: 1.3em;
    color: #bcc3d3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-btn {
    border: 0px solid;
    background-color: rgb(103, 102, 136);
    color: white;
    position: absolute;
    bottom: 20px;
}
.card-btn.focus, .card-btn:focus, .btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover, .btn-success:active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgb(103, 102, 136) ;
    color: white;
    outline: 0;
}
.card-btn:hover {
    background-color: white;
    color: rgb(103, 102, 136);
}
.modal-content{
    background-color: rgb(42, 40, 58);
}

.modal-header {
    border-bottom: 2px solid rgb(89, 87, 99);
}
.modal-footer {
    border-top: 2px solid rgb(89, 87, 99);
}
.modal-title {
    color:rgb(179, 178, 192);
    font-size: 28px;
    font-weight: 700;
}
.modal-body .col {
    color: white;
}
.modal-body .row{
    padding: 0;
    margin-top: 20px;
    margin-left:40px;
}
.modal-body .col{
    color: rgb(186, 185, 216);
    max-width: 310px;
}
.modal p {
    color: rgb(186, 185, 216);
    width: 400px;
    border-bottom: 1px solid rgb(57, 55, 68);
}